.bg-airforceone::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/4f37fca8-6bce-43e7-ad07-f57ae3c13142/AIR+FORCE+1+%2707.png');
    background-color: white;
}
.bg-airforcetwo::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/5daa00d9-afae-4125-a95c-fc71923b81c3/AIR+FORCE+1+%2707.png');
    background-color: white;
}
.bg-airforcethree::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/e777c881-5b62-4250-92a6-362967f54cca/WMNS+AIR+FORCE+1+%2707.png');
    background-color: white;
}
.bg-airforcefour::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/654141ae-1e26-429d-b644-52b25052fc8c/AIR+FORCE+1+%2707+LV8.png');
    background-color: white;
}
.bg-airforcefive::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/143c6f74-77b5-4241-8378-1101c8c39a97/W+AIR+FORCE+1+%2707+MINI+JEWEL.png');
    background-color: white;
}
.bg-airforcesix::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/0f5713e9-facf-449a-b396-441d178e7961/W+AIR+FORCE+1+%2707+MINI+JEWEL.png');
    background-color: white;
}
.bg-airforceseven::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/a42a5d53-2f99-4e78-a081-9d07a2d0774a/AIR+FORCE+1+%2707.png');
    background-color: white;
}
.bg-airforceeight::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/7dbcf447-09fd-44b0-aa75-436626a318c5/AIR+FORCE+1+%2707+LV8.png');
    background-color: white;
}
.bg-airforcenine::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/02e2b580-edfd-4264-bfcd-6b982bae4f40/AIR+FORCE+1+%2707+LX.png');
    background-color: white;
}
.bg-airforceten::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/7dbcf447-09fd-44b0-aa75-436626a318c5/AIR+FORCE+1+%2707+LV8.png');
    background-color: white;
}
.bg-airforceeleven::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/c90f7949-b685-485e-8602-23f1d079cd3a/AIR+FORCE+1+%2707+WB.png');
    background-color: white;
}
.bg-airforcetwelve::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/474d65a0-5b68-4266-bb72-6f8409dcd7dc/AIR+FORCE+1+%2707+LV8.png');
    background-color: white;
}
.bg-airforcethirteen::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/60d2e87c-9eaa-46a0-b9aa-0f730291262b/AIR+FORCE+1+%2707.png');
    background-color: white;
}
.bg-airforcefourteen::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/44e570da-a0a5-4f2d-a26c-517bf7914278/AIR+FORCE+1+LOW+PROTRO.png');
    background-color: white;
}
.bg-airforcefifteen::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/56f0f0c4-b3a9-4c75-a68d-057b2c27acd9/W+AIR+FORCE+1+%2707.png');
    background-color: white;
}
.bg-airforcesixteen::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/232298ff-158b-468d-8bed-afb83370cdc5/AIR+FORCE+1+LOW+PROTRO.png');
    background-color: white;
}
.bg-airforceseventeen::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/86b39ac3-4f6d-4048-8bc1-8fecc6b35e35/W+AF1+SHADOW.png');
    background-color: white;
}
.bg-airforceeighteen::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/f918fe3c-ecae-402f-a82f-de76e057b6f5/KOBE+AIR+FORCE+1+LOW.png');
    background-color: white;
}
.bg-airforcenineteen::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/8d776c04-a43f-4bb4-8b65-088669a7f8e5/NIKE+AIR+FORCE+1+%2707+LV8.png');
    background-color: white;
}
.bg-airforcetwenty::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/b93f5736-817c-484a-83f9-c1b9319cfcbf/AIR+FORCE+1+RETRO.png');
    background-color: white;
}
.bg-airforcetwentyone::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/l8og35sx908n5jwvcbpf/AIR+FORCE+1+MID+%2707+PRM+QS.png');
    background-color: white;
}
.bg-airforcetwentytwo::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/692cdb67-6709-4e93-953d-e6157edc3b13/AIR+FORCE+1+%2707.png');
    background-color: white;
}
.bg-airforcetwentythree::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/4f2fcbd3-8491-4f15-9138-323053621765/WMNS+AIR+FORCE+1+%2707+LX.png');
    background-color: white;
}
.bg-airforcetwentyfour::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/f108ecac-c1c7-43af-9444-2653dc61eafe/NIKE+AIR+FORCE+1+LOW+SP.png');
    background-color: white;
}
.bg-airforcetwentyfive::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/c90f7949-b685-485e-8602-23f1d079cd3a/AIR+FORCE+1+%2707+WB.png');
    background-color: white;
}
.bg-airforcetwentysix::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/c90f7949-b685-485e-8602-23f1d079cd3a/AIR+FORCE+1+%2707+WB.png');
    background-color: white;
}
.bg-airforcetwentyseven::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/c90f7949-b685-485e-8602-23f1d079cd3a/AIR+FORCE+1+%2707+WB.png');
    background-color: white;
}
.bg-airforcetwentyeight::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/c90f7949-b685-485e-8602-23f1d079cd3a/AIR+FORCE+1+%2707+WB.png');
    background-color: white;
}
.bg-airforcetwentynine::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/c90f7949-b685-485e-8602-23f1d079cd3a/AIR+FORCE+1+%2707+WB.png');
    background-color: white;
}
.bg-airforcethirty::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/c90f7949-b685-485e-8602-23f1d079cd3a/AIR+FORCE+1+%2707+WB.png');
    background-color: white;
}
.bg-airforcethirtyone::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/c90f7949-b685-485e-8602-23f1d079cd3a/AIR+FORCE+1+%2707+WB.png');
    background-color: white;
}
.card:hover::before {
    opacity: 0.2;
}
.card:hover p{
    opacity: .2;
}
.card #women{
    font-size: 1rem;
    position: relative;
    color: #FF729F;
    bottom: -150px;
    border: 2px solid #FF729F;
    padding: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFE4FA;
}
.card p {
    font-size: 1rem;
    position: relative;
    color: #64B6AC;
    bottom: -150px;
    border: 2px solid #64B6AC;
    padding: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #DAFFEF;
}
.card:hover button {
    opacity: 1;
}