.bg-airforceone::before {
    background-image: url('https://static.nike.com/a/images/t_web_pw_592_v2/f_auto/4f37fca8-6bce-43e7-ad07-f57ae3c13142/AIR+FORCE+1+%2707.png');
    background-color: white;
}
.bg-airforceone:hover::before {
    opacity: 0.2;
}